$font__main: "Lato", sans-serif;
$font__code: "Lato", sans-serif;
$font__pre: "Lato", sans-serif;
$font__site-title: "Lato", sans-serif;
$font__title: "Lato", sans-serif;
$font__icon: "FontAwesome";
$font__line-height-body: 1.5;
$font__line-height-title: 1.3;
$font__line-height-pre: 1.6;