.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/*post image*/

article.hentry{
  .image-full{
    margin-bottom: 20px;
  }
}

.entry-content {
  .image-left{
    float: left;
    margin-right: 20px;
    @include small-device(){
      float: none;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  .image-right{
    float: right;
    margin-left: 20px;
    @include small-device(){
      float: none;
      margin-bottom: 20px;
      margin-left: 0;
    }
  }
}
